@font-face {
	font-family: 'Conv_Geog-SbIt';
	src: url('fonts/Geog-SbIt.eot');
	src: local('☺'), url('fonts/Geog-SbIt.woff') format('woff'), url('fonts/Geog-SbIt.ttf') format('truetype'), url('fonts/Geog-SbIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoBoldItal: 'Conv_Geog-SbIt';

@font-face {
	font-family: 'Conv_Geog-RgIt';
	src: url('fonts/Geog-RgIt.eot');
	src: local('☺'), url('fonts/Geog-RgIt.woff') format('woff'), url('fonts/Geog-RgIt.ttf') format('truetype'), url('fonts/Geog-RgIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoRegularItal: 'Conv_Geog-RgIt';

@font-face {
	font-family: 'Conv_Geog-MdIt';
	src: url('fonts/Geog-MdIt.eot');
	src: local('☺'), url('fonts/Geog-MdIt.woff') format('woff'), url('fonts/Geog-MdIt.ttf') format('truetype'), url('fonts/Geog-MdIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoMediumItal: 'Conv_Geog-MdIt';

@font-face {
	font-family: 'Conv_Geog-LgIt';
	src: url('fonts/Geog-LgIt.eot');
	src: local('☺'), url('fonts/Geog-LgIt.woff') format('woff'), url('fonts/Geog-LgIt.ttf') format('truetype'), url('fonts/Geog-LgIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoLightItal: 'Conv_Geog-LgIt';

@font-face {
	font-family: 'Conv_Geog-BdIt';
	src: url('fonts/Geog-BdIt.eot');
	src: local('☺'), url('fonts/Geog-BdIt.woff') format('woff'), url('fonts/Geog-BdIt.ttf') format('truetype'), url('fonts/Geog-BdIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoBlackItal: 'Conv_Geog-BdIt';

@font-face {
	font-family: 'Conv_Geogtq-Lg';
	src: url('fonts/Geogtq-Lg.eot');
	src: local('☺'), url('fonts/Geogtq-Lg.woff') format('woff'), url('fonts/Geogtq-Lg.ttf') format('truetype'), url('fonts/Geogtq-Lg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoLight: 'Conv_Geogtq-Lg';

@font-face {
	font-family: 'Conv_Geogtq-Bd';
	src: url('fonts/Geogtq-Bd.eot');
	src: local('☺'), url('fonts/Geogtq-Bd.woff') format('woff'), url('fonts/Geogtq-Bd.ttf') format('truetype'), url('fonts/Geogtq-Bd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoBlack: 'Conv_Geogtq-Bd';

@font-face {
	font-family: 'Conv_Geogrotesque-ExtracondensedBold';
	src: url('fonts/Geogrotesque-ExtracondensedBold.eot');
	src: local('☺'), url('fonts/Geogrotesque-ExtracondensedBold.woff') format('woff'), url('fonts/Geogrotesque-ExtracondensedBold.ttf') format('truetype'), url('fonts/Geogrotesque-ExtracondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoExtCondBold: 'Conv_Geogrotesque-ExtracondensedBold';

@font-face {
	font-family: 'Conv_Geogrotesque-CondensedBold';
	src: url('fonts/Geogrotesque-CondensedBold.eot');
	src: local('☺'), url('fonts/Geogrotesque-CondensedBold.woff') format('woff'), url('fonts/Geogrotesque-CondensedBold.ttf') format('truetype'), url('fonts/Geogrotesque-CondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoCondBold: 'Conv_Geogrotesque-CondensedBold';

@font-face {
	font-family: 'Conv_Geog-UlIt';
	src: url('fonts/Geog-UlIt.eot');
	src: local('☺'), url('fonts/Geog-UlIt.woff') format('woff'), url('fonts/Geog-UlIt.ttf') format('truetype'), url('fonts/Geog-UlIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoUltLightItal: 'Conv_Geog-UlIt';

@font-face {
	font-family: 'Conv_Geog-ThIt';
	src: url('fonts/Geog-ThIt.eot');
	src: local('☺'), url('fonts/Geog-ThIt.woff') format('woff'), url('fonts/Geog-ThIt.ttf') format('truetype'), url('fonts/Geog-ThIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoThinItal: 'Conv_Geog-ThIt';

@font-face {
	font-family: 'Conv_Geogtq-Th';
	src: url('fonts/Geogtq-Th.eot');
	src: local('☺'), url('fonts/Geogtq-Th.woff') format('woff'), url('fonts/Geogtq-Th.ttf') format('truetype'), url('fonts/Geogtq-Th.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoThin: 'Conv_Geogtq-Th';

@font-face {
	font-family: 'Conv_Geogtq-Sb';
	src: url('fonts/Geogtq-Sb.eot');
	src: local('☺'), url('fonts/Geogtq-Sb.woff') format('woff'), url('fonts/Geogtq-Sb.ttf') format('truetype'), url('fonts/Geogtq-Sb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoBold:'Conv_Geogtq-Sb';

@font-face {
	font-family: 'Conv_Geogtq-Rg';
	src: url('fonts/Geogtq-Rg.eot');
	src: local('☺'), url('fonts/Geogtq-Rg.woff') format('woff'), url('fonts/Geogtq-Rg.ttf') format('truetype'), url('fonts/Geogtq-Rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoRegular: 'Conv_Geogtq-Rg';

@font-face {
	font-family: 'Conv_Geogtq-Md';
	src: url('fonts/Geogtq-Md.eot');
	src: local('☺'), url('fonts/Geogtq-Md.woff') format('woff'), url('fonts/Geogtq-Md.ttf') format('truetype'), url('fonts/Geogtq-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoMedium: 'Conv_Geogtq-Md';

@font-face {
	font-family: 'Conv_Geogtq-Ul';
	src: url('fonts/Geogtq-Ul.eot');
	src: local('☺'), url('fonts/Geogtq-Ul.woff') format('woff'), url('fonts/Geogtq-Ul.ttf') format('truetype'), url('fonts/Geogtq-Ul.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$geoUltLight: 'Conv_Geogtq-Ul';

