/*
Theme Name: Outdustry
Theme URI: http://outdustry.com
Author: TidyThemes
Author URI: http://fullmetalworkshop.com
Description: Outdustry Wordpress theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags:
Text Domain: Outdustry

Outdustry WordPress Theme © 2016 Full Metal Workshop
*/

/*------------------------------------*\
	FONTS
\*------------------------------------*/

@import "fonts.scss";

/*------------------------------------*\
	COLORS
\*------------------------------------*/

$outBlack: rgb(44,40,41);
$outDarkerBlack: rgb(35,31,32);
$outPink: rgb(247,236,237);
$outGrey: rgb(246,246,246);

/*------------------------------------*\
	MIXINS
\*------------------------------------*/

@mixin rotateElement($deg){
	transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	-moz-transform: rotate($deg);
}

@mixin translateElement($x, $y){
	transform: translate($x, $y);
	-webkit-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
}

@mixin setTransition($e, $s){
	transition:$e $s;
	-webkit-transition:$e $s;
	-moz-transition:$e $s;
	-o-transition:$e $s;
}

@mixin scaleElement($x, $y){
	transform:scale($x, $y);
	-webkit-transform:scale($x, $y);
	-moz-transform:scale($x, $y);
	-o-transform:scale($x, $y);
}

@mixin greyRight(){
	position: relative;
	&:after{
		content:'';
		width:25px;
		height:100%;
		position: absolute;
		right:0;
		top:0;
		background-color: $outGrey;
	}
}

@mixin greyTop(){
	position: relative;
	&:after{
		content:'';
		width:100%;
		height:25px;
		position: absolute;
		left:0;
		top:0;
		background-color: $outGrey;
	}
}

@mixin greyBottom(){
	position: relative;
	&:after{
		content:'';
		width:100%;
		height:25px;
		position: absolute;
		left:0;
		bottom:0;
		background-color: $outGrey;
	}
}

@mixin greyLeft(){
	position: relative;
	&:after{
		content:'';
		width:25px;
		height:100%;
		position: absolute;
		left:-60px;
		top:0;
		background-color: $outGrey;
	}
}

/*------------------------------------*\
	GLOBAL
\*------------------------------------*/

*{
	box-sizing: border-box;
	font-family: $geoRegular;
	color: $outBlack;
}
body, margin{
	margin:0;
}
.mobile{
	display: none;
}
a{
	text-decoration: none;
}
p{
	margin:0;
	font-size: 18px;
}
input:focus, textarea:focus{
	outline: none;
}
.header_spaced{
	letter-spacing: 2px;
}
.header_upper{
	text-transform: uppercase;
}
#page_sub_header{
	width: calc(100% - 500px);
	padding:0 0 40px 0; 
	min-height: 240px;
	margin-right:25px;
	@include greyBottom();
}
.page_sub_header_content{
	padding-right: 50px;
}
.page_sub_header_content p{
	font-size: 24px;
}
#wrapper{
	max-width: 1600px;
	//min-width: 1500px;
	width: 100%;
	padding: 0px 80px 100px 90px;
	margin:0px auto;
	min-height: 100vh;
	position: relative;
}
#container{
	width: 100%;
}
.single-post #container{
	width: calc(100% - 515px);
}
h1, h2, h3, h4, h5, h6{
	margin:0;
}
h1{
	font-size: 60px;
	line-height: 1em;
}
h2, h2 a{
	line-height: 1em;
	font-size: 36px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 14px;
	font-family: $geoMedium;
}
h6{
	font-size: 12px;
	font-family: $geoRegular;
}
h3, h3 a{
	font-size: 24px;
}
h6.main_page_title{
	font-family: $geoRegular;
	text-transform: uppercase;
	background-color: $outPink;
	display: inline-table;
	letter-spacing: 1px;
	margin-bottom:35px;
	margin-top:32px;
}
.section_header{
	padding-top:18px;
	border-top:3px solid $outBlack;
	a{
		font-family: $geoMedium;
	}
}
.arrow_small, .arrow_small img{
	width: 7px;
	height:auto;
}
.brackets{
	white-space: nowrap;
}
.brackets:before{
	content:'[ ';
}
.brackets:after{
	content:' ]';
}
.link_list .main_page_title{
	text-transform: none;
	margin-bottom: 0;
	margin-top:0;
}
.boldHeader, .boldHeader a{
	font-family: $geoBold;
}
section.entry-content{
	padding-bottom:50px;
}
blockquote{
	width: 60%;
	margin-left: 15%;
	margin-bottom:25px;
	position: relative;
	margin-top:80px;
	margin-bottom:40px;
}
blockquote:before{
	content:'“';
	font-family: $geoBold;
	font-size:120px;
	position: absolute;
	top:-60px;
	left:-85px;
}
blockquote p{
	font-size: 18px;
	font-family: $geoRegularItal;
}
blockquote p:last-of-type{
	text-transform: uppercase;
	font-family: $geoMedium;
	font-size: 13px;
	padding-bottom: 0;
}
blockquote p:last-of-type:before{
	content:'- ';
}
.bg_centered{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
#header_right .outdustry_social{
	padding: 5px 0;
	margin: 10px 0 25px;
	@include greyLeft();
}
.home #header_right .outdustry_social:after{
	background-color: transparent;
}
.social_item{
	display: inline-block;
	width: 40px;
	height:40px;
	border-radius: 50%;
	border:3px solid $outDarkerBlack;
	margin-right:9px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
#social_item_fb{
	background-size: 25%;
}
.social_item a{
	position: absolute;
	width: 100%;
	height:100%;
	left:0;
	top:0;
}

/*------------------------------------*\
	OVERLAY
\*------------------------------------*/

.overlay_container{
	width: 100vw;
	height:100vh;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: none;
	z-index: 10;
}
.overlay_content{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:auto;
}
.overlay_background{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: $outBlack;
	opacity: .9;
}
.find_us_header{
	display: none;
}
.overlay_container.find_us form, .overlay_container.find_us .contact_us_header{
	display: none;
}
.overlay_container.find_us .find_us_header{
	display: block;
}
.share_button{
	width: 54px;
	height:54px;
	border:3px solid white;
	border-radius: 50%;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	margin: 0 12px;
	position: relative;
}
.share_button a{
	display: inline-block;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
h4.overlay_header{
	color: white;
	text-align: center;
	font-family: $geoMedium;
	margin-bottom:60px;
}
#search_overlay{
	h4.overlay_header{
		margin-bottom: 30px;
	}
}
h5.close_overlay{
	color: rgb(168,168,168);
	text-align: center;
	margin:15px 0 25px;
	cursor: pointer;
}

/*------------------------------------*\
	OVERLAY CONTACT FORM
\*------------------------------------*/

.wpcf7-form input[type='text'], .wpcf7-form input[type='email']{
	font-family: $geoMedium;
}
.wpcf7-form textarea, .wpcf7-form input[type='text'], .wpcf7-form input[type='email']{
	background-color: transparent;
	width: 100%;
	border:3px solid white;
	padding:10px;
	color: white;
	font-size: 20px;
	margin-bottom:20px;
}
.wpcf7-form textarea{
	height:150px;
	font-family: $geoLight;
}
.wpcf7-form input[type='submit']{
	border: none;
	background-color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: $geoBold;
	padding:18px;
	width: 200px;
	display: block;
	margin:0 auto;
	position: relative;
	font-size: 12px;
}
#contact_form h4.overlay_header{
	margin-bottom: 35px;
}
#contact_form .overlay_content_inner{
	width: 570px;
}
.wpcf7-form{
	::-webkit-input-placeholder { /* Chrome */
	  color: white;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: white;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: white;
	  opacity: 1;
	}
	:-moz-placeholder { /* Firefox 4 - 18 */
	  color: white;
	  opacity: 1;
	}
}
.contact_email a{
	margin:0 auto;
	color: white;
	font-size: 24px;
	font-family: $geoLight;
}
.contact_email{
	text-align: center;
	margin-bottom:20px;
}
#contact_form .share_button{
	width: 42px;
	height:42px;
	margin:0 6px;
}
#contact_form #share_buttons{
	text-align: center;
	margin-bottom:45px;
}

/*------------------------------------*\
	OVERLAY MAILING LIST FORM
\*------------------------------------*/

.mailing_form_excerpt{
	width: 40%;
	margin:0 auto;
	text-align: center;
	p{
		font-size: 24px;
		color: white;
	}
}
#mailing_list_form .overlay_header{
	margin-bottom:30px;
}
.mailing_list_form_holder{
	margin-top:80px;
	text-align: center;
}
.mailing_list_input{
	width: 60%;
	background-color: transparent;
	border:0;
	border-bottom: 3px solid white;
	text-align: center;
	font-size: 60px;
	font-family: $geoBold;
	padding-bottom:10px;
	color: white;
}
.mailing_list_input::-webkit-input-placeholder { 
	color: white;
}
.mailing_list_input:-moz-placeholder { 
	color: white;
}
.mailing_list_input::-moz-placeholder {
	color: white;
}
.mailing_list_input:-ms-input-placeholder {
	color: white;
}
.mailing_list_form_holder .submit{
	margin:0 auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: $geoBold;
	font-size: 12px;
	border-radius: 0;
	border: none;
	padding:10px 40px;
	background-color: white;
	margin-top:35px;
	display: block;
}
.mailing_list_form_response{
	margin: 30px auto;
	width: 50%;
	color: white;
	font-size: 24px;
	text-align: center;
	display: none;
	p, h1, h2, h3, h4, h5, h6{
		color: white;
	}
	p{
		font-size: 24px;
	}
}

/*------------------------------------*\
	HEADER
\*------------------------------------*/

header#header{
	padding:25px 0px 0px;
	position: relative;
}
#header_main{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#header_main_content_left{
	display: flex;
	align-items: baseline;
	width: 100%;
}
.blog #header_main_content_left{
	
}
#header_main_content_right{
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}
#header_main_content_right #site-description{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	padding-top:11px;
	padding-right:40px;
	white-space: nowrap;
}
.header_button{
	width: 38px;
	height:38px;
	top:17px;
	
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#contact_button{
	background-image:url('images/contact_button.png');
	right:-49px;
	position: absolute;
}
#search_button, #social_button{
	position: relative;
	background-image:url('images/search_button.png');
	top:-7px;
	right:0;
	margin-left:10px;
}
#social_button{
	background-image:url('images/social_button.png');
	display: none;
}
#language_switch{
	top:-7px;
	right:0;
	position: relative;
}
#language_switch ul{
	list-style-type: none;
	width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
#language_switch ul li a{
	position: absolute;
}
#language_switch ul li a span{
	display: none;
}
#language_switch ul li.active{
	display: none;
}
#language_switch ul li a:before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:38px;
	height:38px;
	background-image:url('images/lang_eng.png');
	background-repeat: no-repeat;
	background-size: contain;
}
#language_switch ul li.lang-zh a:before{
	background-image:url('images/lang_chinese.png');
}
#header_right{
	width: 425px;
	float: right;
	display: inline-block;
	padding-left:37px;
	padding-top:11px;
}
#search input{
	width: 100%;
	padding:14px 28px;
	text-transform: uppercase;
	border:3px solid white;
	font-family: $geoBold;
	font-size: 12px;
	color: white;
	background-color: transparent;
	-webkit-appearance:none;
	border-radius: 0;
}
#search input:focus{
	background-color: transparent;
}
#search input::-webkit-input-placeholder { 
	color: white; opacity: 1 !important; 
}
#search input:-moz-placeholder { 
	color: white;
}
#search input::-moz-placeholder {
	color: white;
}
#search input:-ms-input-placeholder {
	color: white;
}
#header_mailing_list{
	padding:27px 27px 31px 27px;
	display: flex;
	align-items: center;
	background-color: $outPink;
	width:100%;
	margin-top:15px;
	cursor: pointer;
	@include greyLeft();
	@include setTransition(all, .5s);
	h5{
		@include setTransition(all, .5s);
	}
	p{
		@include setTransition(all, .5s);
	}
}
.home #header_mailing_list:after{
	background-color: transparent;
}
.is_desktop #header_mailing_list:hover{
	background-color: $outBlack;
}
.is_desktop #header_mailing_list:hover h5, .is_desktop #header_mailing_list:hover p{
	color: white;
}
#header_mailing_list_arrow{
	width: 11px;
	height:18px;
	background-image:url('images/arrow_mailing.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#header_mailing_list_text{
	width: 100%;
	padding-right:30px;
	h5{
		text-transform: uppercase;
	}
	p{
		margin-top:20px;
	}
}
nav#menu{
	width: 60%;
	margin-top: 7px;
	.mailing_list_link{
		display: none;
	}
}
nav#menu ul{
	padding:0;
	display: flex;
	margin:0;
	justify-content: space-between;
}
nav#menu ul li{
	list-style-type: none;
	display: inline-block;
	padding:0 5px;
}
.is_desktop nav#menu ul li{
	padding:0px 5px 7px 5px;
}
nav#menu ul li:first-child{
	padding-left: 0;
}
nav#menu ul li a{
	text-transform: uppercase;
	font-size: 13px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom:-4px;
		opacity: 0;
		left:0px;
		width: 100%;
		height:2px;
		background-color: $outBlack;
		@include setTransition(all, .2s);
		@include translateElement(0, 4px);
	}
}
.is_desktop nav#menu ul li:not(.mailing_list_link):hover a:after, .is_desktop nav#menu ul li.current_page_item a:after{
	opacity: 1;
	@include translateElement(0, 0);
}
.is_desktop .mailing_list_link a:hover:after{
	opacity: 0;
}
//nav#menu ul li.current_page_parent a:after add to above
#logo_big{
	width: calc(100% - 425px);
	height:auto;
	float: left;
	margin:25px 0 25px 0;
}
#logo_big img{
	width: 100%;
	height:auto;
}
#logo_small{
	width: 200px;
	height:auto;
	margin-right: 40px;
}
.blog .blog_header_title{
	margin:30px 0;
	text-transform: uppercase;
	font-family: $geoUltLightItal;
	font-size: 40px;
	line-height: 32px;
	font-weight: 100;
	float: left;
}
.blog #page_sub_header_container #logo_small{
	display:flex;
	margin:45px 0;
	width: calc(100% - 425px);
	a img{
		width: 285px;	
	}
	span{
		margin-left: 10px;
		text-transform: uppercase;
		font-family: $geoUltLightItal;
		font-size: 40px;
		line-height: 32px;
	}
}
#logo_small img{
	width: 100%;
	height:auto;
}
.side_text{
	width:15px;
	height:auto;
	position: absolute;
	top:44vh;
	left:-60px;
}
.side_text img{
	width: 100%;
	height:auto;
}

/*------------------------------------*\
	HOME
\*------------------------------------*/

.home #container{
	width: 100%;
}
.home #content{
	width: calc(100% - 425px);
	display: inline-block;
}
.home #all_projects .projects_gutter{
	width: 26px;
}
.home #all_projects article{
	width: calc(50% - 13px);
	margin-bottom:10px;
	.archive_post_content_container{
		padding-top:25px;
		@include greyRight();
	}
}
#home_sidebar{
	width: 100%;
	float: right;
	padding-top:35px;
}
#home_sidebar{
	.section_header{
		margin-bottom:30px;
	}
	.entry-title a{
		font-family: $geoBold;
		position: relative;
		span{
		    font-family: $geoBold;
		    color: black;
		    -webkit-box-decoration-break: clone;
		    -o-box-decoration-break: clone;
		    box-decoration-break: clone;
		}
	}
	article{
		margin-bottom:30px;
		&:not(:first-of-type){
			.archive_post_content_container{
				padding-top:45px;
				@include greyTop();
			}
		}
		.blog_type{
			font-family: $geoLight;
			margin:10px 0;
			text-transform: uppercase;
		}
	}
	.archive_post_container{
		display: flex;
	}
	.archive_post_content_container{
		padding-left: 30px;
		position: relative;
	}
	.archive_post_image{
		width: 40%;
		min-width: 40%;
		height:150px;
	}
	.entry-date{
		margin-top:12px;
	}
}
.is_desktop #home_sidebar .archive_post_content .entry-title a:hover span{
	font-family: $geoBold;
	color: black;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	border-bottom:2px solid black;
}
#home_sidebar article:first-of-type{
	.archive_post_image{
		height:320px;
		width: 100%;
	}
	.archive_post_container{
		display: block;
	}
	.archive_post_content_container{
		padding-left: 0px;
		@include greyRight();
		padding-top:10px;
	}
}

	/*--------- FEATURED/FIRST POST ---------*/

.home #all_projects article:first-of-type{
	width: 100%;
	.archive_post_container{
		display: flex;
	}
	.archive_post_image{
		width: 68%;
		min-width: 68%;
	}
	.project_format{
		font-size: 13px;
	}
	.entry-title{
		font-size: 60px;
		width: 140%;
		margin-left:-70%;
		margin-top:40px;
		position: relative;
	}
	.project-title span{
		line-height: 79px;
		background: $outBlack;
		-webkit-box-decoration-break: clone;
		-o-box-decoration-break: clone;
		box-decoration-break: clone;
		padding:0 3px;
		@include setTransition(all, .2s);
	}
	.project-title a{
		font-family: $geoThinItal;
		color: white;
	}
	.is_desktop .project-title span:hover a{
		color: $outBlack;
	}
	.archive_post_content_container{
		padding-left:30px;
		padding-right:40px;
		&:after{
			background-color: transparent;
		}
	}
	.artist_header{
		margin-top:40px;
		font-size: 18px;
		font-family: $geoMediumItal;
	}
	.link_list a{
		display: block;
	}
	.is_desktop .link_list a .brackets:hover{
		color: white;
		background-color: $outBlack;
	}
	@include greyRight();
}

.is_desktop #all_projects article .project-title span:hover{
	background-color: rgb(240,240,240);
}
.is_desktop #all_projects article .project-title span:hover a{
	color: $outBlack;
}

/*------------------------------------*\
	PROJECTS SINGLE
\*------------------------------------*/

.project_container{
	width: calc(100% - 457px);
}
.project_container_inner{
	display: flex;
}
.project_container .post_featured_image{
	margin:0;
}
.project_container .project_media{
	width: 45%;
}
.project_container .post_info_container{
	width: 55%;
	padding:30px 0 0 30px;
	display: block;
}
#content .project_container .post_info_title h1.entry-title{
	margin-bottom:25px;
}
#content .project_container h5.artist_header{
	margin-bottom:25px;
}
.project_terms_boxes{
	display: flex;
	flex-wrap: wrap;
	padding-top:25px;
	margin-bottom:25px;
}
.project_terms_box{
	padding-top:25px;
	width: 45%;
	margin-right:5%;
	margin-bottom:35px;
	border-top:3px solid $outDarkerBlack;
}
.project_terms_box h6.project_term_header{
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: $geoMedium;
}
.project_info_item{
	display: flex;
	padding:22px 0 15px;
	border-top:1px solid $outDarkerBlack;
}
.project_info_item h6:first-child{
	width: 30%;
	text-transform: uppercase;
	font-family: $geoMedium
}

/*------------------------------------*\
	ROSTER
\*------------------------------------*/

.all_roster .archive_post_image{
	width: 100%;
	height:0;
	padding-bottom:65%;
}
.entry-title.roster-title{
	margin: 5px 0;
	font-size: 24px;
}
.entry-title.roster-title a{
	font-family: $geoBold;
}
#all_projects.all_roster article{
	margin-bottom:30px;
}
#all_projects.all_roster article .archive_post_content_container{
	@include greyRight();
}

/*------------------------------------*\
	ROSTER SINGLE
\*------------------------------------*/

.skills_list{
	padding-bottom:25px;
}
#content .roster h1.entry-title{
	margin-bottom:25px;
}
.roster .post_info{
	border-bottom:3px solid $outDarkerBlack;
	margin-bottom:25px;
}
.roster .post_info h5{
	font-family: $geoLight;
	margin-bottom:20px;
	text-transform: uppercase;
}
.single-roster{
	.service_box_posts{
		width: 100%;
		h6.services_key{
			margin:20px 0 20px;
		}
	}
	.service_post_header{
		padding:15px 0;
	}
}

/*------------------------------------*\
	SERVICES
\*------------------------------------*/

#all_services_container{
	padding-top:40px;
	padding-bottom:50px;
}
.service_box{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom:40px;
}
.service_box_image{
	width: 40%;
}
.service_box_posts{
	width: 30%;
}
.service_box_image{
	margin-right:25px;
}
.service_box_holder{
	width: 70%;
	display: flex;
}
.service_box_info{
	width: 60%;
	padding-right:5%;
	min-height: 380px;
	display: flex;
	align-items: center;
}
.service_post_header{
	border-bottom:3px solid $outDarkerBlack;
	text-transform: uppercase;
	display: flex;
    justify-content: space-between;
    h5{
	    padding-top:2px;
    }
}
.service_post_header a{
	font-family: $geoMedium;
	width: 100%;
    display: flex;
    padding:10px 0 25px;
    justify-content: space-between;
}
.service_box_posts h6.services_key{
	margin: 35px 0 25px;
	font-family: $geoMedium;
}
.service_post_box{
	border-top:1px solid $outDarkerBlack;
	width: 100%;
	padding:13px 0 12px 0;
}
.service_post_box h6{
	display: inline-block;
}
.service_post_box h6.service_post_format{
	width: 25%;
	text-transform: uppercase;
}
.service_excerpt{
	font-size: 24px;
	line-height: 1.3em;
}
.service_box h2{
	margin-bottom:22px;
	font-family: $geoBlack;
}
.service_excerpt{
	margin-bottom:25px;
}

/*------------------------------------*\
	POSTS LANDING
\*------------------------------------*/

.all_posts{
	padding-bottom:100px;
}
.all_posts .link_list{
	margin-top:20px;
}
.blog #page_sub_header{
	min-height: 0;
	padding-bottom:0;
}
.blog #page_sub_header:after{
	background-color: transparent;
}
.blog #filter_boxes{
	justify-content: space-between;
}
.blog .post-title{
	margin-bottom:15px;
	a{
		font-family: $geoBold;
		font-size: 22px;
	}
}
.blog .filter_box{
	flex-grow: 2;
}
.blog #all_projects{
	width: calc(100% - 515px);
}
#all_projects.all_posts article{
	margin-bottom:40px;
	width: 100%;
}
.all_posts article .archive_post_content_container{
	@include greyTop();
}
.all_posts .archive_post_container{
	display: flex;
}
.all_posts .archive_post_image{
	width: 45%;
	min-width: 45%;
}
.archive_post_image a{
	display: block;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
}
.archive_post_content_container{
	width: 100%;
}
#content .all_posts .archive_post_content_container h1.entry-title{
	margin-bottom:30px;
}
.all_posts .archive_post_content{
	display: flex;
	align-items: center;
	min-height: 20vw;
	padding-left:30px;
}
.all_posts article.type-post:first-of-type .archive_post_content{
	min-height: 35vw;
	h4.entry-title{
		margin-bottom:25px;
		a{
			font-size: 60px;
			font-family: $geoBlack;
		}
	}
}
.all_posts .archive_post_content h3.entry-title{
	margin-bottom:25px;
}
.all_posts .archive_post_content h3.entry-title a{
	font-size: 24px;
	font-family: $geoBlack;
}


/*------------------------------------*\
	SINGLE POST
\*------------------------------------*/

#post_featured_image{
	margin-bottom:35px;
}
#post_featured_image, #post_featured_image img{
	width: 100%;
	height:auto;
}
#content h1.entry-title{
	font-family: $geoBlack;
	margin-bottom: 60px;
}
#content .entry-date{
	margin-bottom:18px;
	font-size: 12px;
}
.post_info_container{
	display: flex;
	justify-content: space-between;
}
.post_info_title{
	width: 75%;
}
.post_info_share{
	margin:0 50px;
	width: 72px;
	height:auto;
}
.post_info_share img{
	width: 100%;
	height:auto;
	cursor: pointer;
}
section.entry-content p{
	padding-bottom:20px;
	line-height: 1.4em;
}
section.entry-content > p:first-of-type{
	font-size: 24px;
	line-height: 1.3em;
}
.authorInfo{
	text-transform: uppercase;
	margin-bottom: 20px;
}
section.entry-content ul{
	list-style-type: none;
	margin-left: 6%;
	font-size: 18px;
	li{
		line-height: 1.4em;
		padding-bottom: 10px;
		position: relative;
		padding-left:9px;
	}
	li:before{
		content:'';
		position: absolute;
		width: 10px;
		height:15px;
		background-image: url('images/bullet.png');
		background-size: contain;
		left:-15px;
		top:4px;
	}
}

#related_services_container{
	h5{
		text-transform: uppercase;
		border-bottom: 2px solid $outBlack;
		padding-bottom:5px;
	}
	ul{
		margin:0;
		padding:10px 0;
	}
	li{
		font-size: 16px;
		font-family: $geoRegular;
		padding: 5px 0;
		border-bottom: 1px solid rgb(220,220,220);
		&:before{
			width: 0;
			height:0;
			background-image: '';
		}
	}
}
#tags_container{
	padding: 15px 0;
	margin-bottom:20px;
	h5{
		display: inline-block;
		margin-right: 10px;
	}
	.brackets{
		background-color: $outPink;
		font-size: 14px;
		&:hover{
			background-color: $outGrey;
		}
	}
}

/*------------------------------------*\
	PROJECTS LANDING
\*------------------------------------*/

h6.project_format{
	text-transform: uppercase;
	font-size: 10px;
	margin:10px 0;
}
.project-title{
	margin-top:10px;
}
.artist_header{
	margin-top:10px;
	font-family: $geoMedium;
}
h4.project-title span{
	background-color: $outDarkerBlack;
}
h4.project-title a{
	font-family: $geoLightItal;
	color: white;
}
.page-template-template-projects .archive_post_content_container{
	@include greyRight();
}
#all_projects{
	padding:33px 0 50px
}
#all_projects .link_list{
	margin-top:15px;
}
#all_projects article{
	width: 32%;
	margin-bottom:60px;
}
.archive_post_image{
	width: 100%;
	height:auto;
	position: relative;
	display: block;
	overflow: hidden;
	img{
		@include setTransition(all, .4s);
		width: 100%;
		height: auto;
	}
	&.archive_post_image_holder{
		overflow: hidden;
	}
	.archive_post_image_bg{
		position: absolute;
		width: 100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		@include setTransition(all, .4s);
	}
}
.is_desktop .archive_post_image_bg:hover, .is_desktop .archive_post_image:hover img{
	@include scaleElement(1.05, 1.05);
}

.projects_gutter{
	width: 2%;
}
.nav-previous{
	padding-bottom:30px;
	a{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.nav-previous-inner{
		display: flex;
		align-items: center;
		h6.main_page_title{
			margin:0;
		}
	}
	.nav_next{
		font-size: 20px;
		margin-right:50px;
		font-family: $geoRegular;
	}
	.prev_arrow{
		width: 20px;
		height:auto;
	}
	.prev_arrow img{
		width: 100%;
		height:auto;
	}
}

/*------------------------------------*\
	ABOUT
\*------------------------------------*/

#page_sub_header_container .outdustry_social{
	padding-top:20px;
}
#about_team{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top:40px;
	padding-bottom:50px;
}
.author_box{
	width: 48%;
	margin-bottom:35px;
}
.author_box .archive_post_image{
	width: 60%;
	min-width: 60%;
	height:25vw;
}
.author_box .archive_post_container{
	display: flex;
}
.outdustry_title{
	text-transform: uppercase;
	font-family: $geoLight;
	margin-bottom:20px;
}
.author_box .entry-title a{
	font-family: $geoBlack;
}
.author_excerpt{
	padding-top:22px;
	font-size: 20px;
	font-family: $geoLightItal;
}
.author_box .archive_post_content_container{
	padding-left:22px;
}
.author_desc{
	font-size: 14px;
	padding-top:22px;
	line-height: 1.4em;
}

/*------------------------------------*\
	MORE CONTENT
\*------------------------------------*/

html[lang='zh-CN']{

}
.more_content_container{
	margin-bottom:120px;
	padding-top:40px;
}
.more_content_container h5{
	text-align: center;
	margin-bottom:40px;
}
.more_content{
	display: flex;
	justify-content: space-between;
}
.more_content article{
	width: 31%;
}
.related_content_image{
	width: 100%;
	height:0;
	padding-bottom:80%;
	position: relative;
	a{
		position: absolute;
		width: 100%;
		height:100%;
		left:0;
		top:0;
	}
}
.related-content-title{
	padding:30px 0;
}
.related-content-title a{
	font-family: $geoBlack;
}

/*------------------------------------*\
	FILTER
\*------------------------------------*/

#filter_boxes{
	width: 100%;
	margin-bottom:20px;
	margin-top:30px;
	white-space: nowrap;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: flex-start;
}
.filter_box{
	width: 23.5%;
	margin-left:2%;
	height:50px;
	display: inline-block;
	float: left;
	position: relative;
}
.filter_box:first-child{
	margin:0;
}
.filter_box_inner{
	position: absolute;
	width: 100%;
	max-height: 50px;
	overflow: hidden;
	outline:3px solid $outDarkerBlack;
	@include setTransition(all, 1s);
	background-color: white;
	
}
.filter_box.active .filter_box_inner{
	max-height: 1000px;
	@include setTransition(all, 2s);
}
.filter_box_content{
	padding:0 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	height:50px;
	cursor: pointer;
}
.filter_item{
	padding: 0 22px;
	cursor: pointer;
}
.filter_item_content{
	justify-content: flex-start;
	text-transform: none;
	height:45px;	
	align-items: center;
	display: flex;
}
.filter_item_content{
	border-top:1px solid rgb(200,200,200);
}
.filter_box_inner .filter_item:first-of-type .filter_item_content{
	border:none;
}
.filter_box_content h6{
	font-family: $geoMedium;
}
.filter_arrow{
	@include rotateElement(90deg);
	@include setTransition(all, .5s);
}
.filter_box.active .filter_arrow{
	transform:scale(1, -1) rotate(90deg);
	-webkit-transform:scale(1, -1) rotate(90deg);
	-moz-transform:scale(1, -1) rotate(90deg);
	-o-transform:scale(1, -1) rotate(90deg)
}
#active_filter_items{
	@include setTransition(all, .3s);
	max-height: 0;
	min-height: 0;
	overflow: hidden;
}
#active_filter_items.active{
	max-height: 25px;
	min-height: 25px;
}
.filter_checkbox{
	width: 20px;
	min-width: 20px;
	margin-right:15px;
	height:20px;
	outline: 1px solid $outBlack;
}
.filter_item.active .filter_checkbox{
	background-image: url('images/check_on.png');
	background-size: contain;
}
.active_item{
	background-color: $outBlack;
	color: white;
	padding:2px 5px 2px 25px;
	display: inline-block;
	margin-right:10px;
	position: relative;
}
.active_item:before{
	content:'';
	width:10px;
	height:10px;
	position: absolute;
	left:6px;
	top:7px;
	background-image: url('images/tag_x.png');
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

/*------------------------------------*\
	SEARCH
\*------------------------------------*/

.search #search, .error404 #search{
	margin-bottom:40px;
	margin-top:25px;
}
.search .header #search, .error404 .header #search{
	width: calc(100% - 457px);
}
.search #content #search, .error404 #content #search, #mobile_home #search{
	input{
		border: 3px solid black;
		background-color: white;
		color: $outDarkerBlack;
		width: calc(100% - 30px);
	}
	input:focus{
		background-color: white;
	}
	input::-webkit-input-placeholder { 
		color: $outBlack; opacity: 1 !important; 
	}
	input:-moz-placeholder { 
		color: $outBlack;
	}
	input::-moz-placeholder {
		color: $outBlack;
	}
	input:-ms-input-placeholder {
		color: $outBlack;
	}
}
#mobile_home #search{
	display: none;
}
#mobile_home #search input{
	width: 100%;
}
.search #search_header_text, .error404 #search_header_text{
	text-transform: uppercase;
	margin-bottom:30px;
}
.search #all_projects, .error404 #all_projects, #all_projects.all_archive{
	width: calc(100% - 480px);
}
.search #all_projects article, .error404 #all_projects article, #all_projects.all_archive article{
	width: 100%;
	margin-bottom:20px;
	.archive_post_image{
		width:220px;
		min-width:220px;
		height:160px;
	}
	.archive_post_content{
		min-height: 0;
		display: block;
	}
	.archive_post_container{
		display: flex;
	}
	.archive_post_content_container{
		padding: 0 30px 0 30px;
		display: flex;
		align-items: center;
		@include greyTop();
	}
	.entry-title a{
		font-family: $geoBold;
		font-size: 24px;
	}
}
.error404 #content .entry-title{
	margin: 30px 0 0;
}
.search_not_found{
	margin-bottom:30px;
	span{
		font-family: $geoBlack;
	}
}

/*------------------------------------*\
	FOOTER
\*------------------------------------*/

footer#footer{
	display: flex;
	position: absolute;
	bottom:40px;
}
footer#footer #logo_small, footer#footer #logo_small img{
	width: 135px;
	height:auto;
}

/*------------------------------------*\
	PAGING
\*------------------------------------*/

#post_paging{
	position: relative;
    bottom: 90px;
    text-align: center;
}
.post_paging_content{
	display: inline-block;
}
.post_paging_content:before{
	content:'[ ';
}
.post_paging_content:after{
	content:' ]';
}
#post_paging .page-numbers{
	padding: 0 4px;
}
#post_paging .page-numbers.current{
	font-family: $geoBlack;
}

@media only screen and (max-width: 1280px){
	  
	h1{
		font-size: 30px;
	}
	h2, h2 a{
		font-size: 28px;
		line-height: 1.3em;
	}
	h3, h3 a{
		line-height: 1em;
	}
	h5{
		font-size: 16px;
	}
	h6.main_page_title{
		margin-bottom:27px;
	}
	#header_main_content_left{
		flex-direction: column-reverse;
	}
	nav#menu{
		margin-bottom:25px;
		width: 90%;
		ul li.mailing_list_link a:hover:after{
			background-color: transparent;
		}
		.mailing_list_link{
			display: block;
			&:before{
				content: '[';
			}
			&:after{
				content: ']';
			}
			a{
				padding:0 5px;
				background-color: $outPink;
				&:hover{
					background-color: $outBlack;
					color: white;
				}
			}
		}
	}
	#header_main_content_right #site-description{
		padding-right: 40px;
	}
	#header_right{ 
		width: 30%;
		.outdustry_social{
		 	display: none;
		}
		#home_sidebar article{
			&:not(:first-of-type) .archive_post_content_container:after{
				background-color: transparent;
			}
			&:not(:first-of-type) .archive_post_content_container{
				padding:20px 0 0 0;
			}
			.archive_post_container{
				flex-direction: column;
			}
		 	.archive_post_image{
			 	height:250px;
			 	width: 100%;
			 	max-width: 100%;
		 	}
		}
	}
	#social_button{
		display: block;
	}
	#header_mailing_list{
		display: none;
	}
	#logo_big{
		margin-top:0;
		width: 70%;
	}
	#page_sub_header{
		width: 100%;
		min-height: 0;
		padding-bottom:0;
		&:after{
			background-color: transparent;
			left:auto;
		}
		@include greyRight();
	}
	#all_projects, .blog #all_projects{
		width: 100%;
	}
	.project_container{
		width: 100%;
	}
	 
	.home #content{
		width: 70%;
	}
	 
	/*------------------------------------*\
		BLOG < 1280px
	\*------------------------------------*/
	
	.blog #page_sub_header_container #logo_small{
		margin-top:10px;
	}
	 
	.author_box{
		width: 100%;
		.archive_post_image{
			width: 30vw;
			height:30vw;
			min-width: 30vw;
			padding:0;
		}
	}
	.all_posts article.type-post .archive_post_content{
		min-height: 30vw;
	}
	.all_posts article.type-post:first-of-type .archive_post_content{
		min-height: 40vw;
	}
	
	.single-post #container{
		width: 70%;
	}
	
	/*------------------------------------*\
		SERVICES < 1280px
	\*------------------------------------*/
	
	.service_box_holder{
		width: 75%;
	}
	.service_box_posts{
		width: 25%;
	}
	
	/*------------------------------------*\
		SEARCH PAGE < 1280px
	\*------------------------------------*/
	
	.search .header #search, .error404 .header #search{
		width: 100%;
	}
	.search #all_projects, .error404 #all_projects{
		width: 100%;
	}
	.search #content #search input, .error404 #content #search input, #all_projects.all_archive{
		width: 100%;
	}
 }
 
@media only screen and (max-width: 1125px){
	#header_main_content_right #site-description{
		display: none;
	}
	header_main_content_left{
		width: 85%;
	}
}
 
@media only screen and (max-width: 1024px){
  	
  	.single-post #container{
	  	width: 80%;
  	}
  	#all_projects .projects_gutter{
	  	width: 4%;
  	}
  	#all_projects article{
	  	width: 48%;
  	}
  	
  	/*------------------------------------*\
		HOME < 1024px
	\*------------------------------------*/
	
	#home_sidebar{
		display: none;
	}
	.home #content{
		width: 100%;
	}
  	
  	/*------------------------------------*\
		SERVICES < 1024px
	\*------------------------------------*/
	
	.service_box{
		flex-direction: column;
	}
  	.service_box_holder{
		width: 100%;
	}
	.service_box_image{
		width: 40%;
	}
	.service_box_info{
		padding:0;
	}
	.service_box_posts{
		width: 100%;
		padding-top:25px;
	}
}
@media only screen and (max-width: 768px){
  	.mobile{
	  	display: block;
  	}
  	#logo_big{
		display: none;
	}
	#logo_small{
		display: none;
	}
  	#header_mobile{
	  	width: 100%;
	  	padding:20px 0;
	  	.header_mobile_content{
		  	width: 100%;
		  	display: flex;
		  	justify-content: space-between;
		  	#logo_small{
			  	display: block;
			  	width: 150px;
		  	}
	  	}
  	}
  	h1{
		font-size: 30px;
	}
	h2, h2 a{
		font-size: 24px;
		line-height: 1.3em;
	}
	h3, h3 a{
		line-height: 1em;
	}
	h5{
		font-size: 12px;
	}
	h6.main_page_title{
		margin-bottom:27px;
	}
	#mobile_search{
		display: block;
		background-image: url('images/icon_search.png');
		width: 15px;
		height:15px;
		top:21px;
		right:72px;
		position: absolute;
	}
	#nav_button{
		.close_menu{
			display: none;
			color: white;
			font-size: 16px;
		}
		.open_menu{
			font-size: 16px;
		}
	  	width: auto;
	  	position: absolute;
	  	top:14px;
	  	right:80px;
	  	padding:5px 0;
	  	cursor: pointer;
	  	z-index: 10;
	  	text-transform: uppercase;
	  	font-family: $geoRegular;
	  	.nav_button_line{
		  	height:2px;
		  	background-color: $outBlack;
		  	position: relative;
		  	width: 100%;
		  	&:before{
			  	content: '';
			  	width:100%;
			  	height:2px;
			  	background-color: $outBlack;
			  	top:-6px;
			  	position: absolute;
		  	}
		  	&:after{
			  	content:'';
			  	width:100%;
			  	height:2px;
			  	background-color: $outBlack;
			  	bottom:-6px;
			  	position: absolute;
		  	}
	  	}
  	}
  	#nav_button.active{
	  	position: fixed;
	  	color: white;
	  	.close_menu{
		  	display: block;
	  	}
	  	.open_menu{
		  	display: none;
	  	}
  	}
  	#nav_button.active .nav_button_line{
	  	background-color: white;
	  	&:before{
		  	background-color: white;
	  	}
	  	&:after{
		  	background-color: white;
	  	}
  	}
  	header#header{
	  	position: fixed;
	    width: 100vw;
	    height: 100vh;
	    left: 0;
	    top: 0;
	    background-color: $outBlack;
	    z-index: 5;
	    padding:0 20px;
	    -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -moz-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -moz-transition: ease 200ms;
        -o-transition: ease 200ms;
        -webkit-transition: ease 200ms;
        transition: ease 200ms;
  	}
  	header#header.active{
	  	-moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
  	}
  	
  	
  	#header_main{
		display: none;
	}
	#header_main_content_left{
		display: block;
		height:100%;
	}
	#header_main_content_right{
		display: none;
	}
	#header_right{
		height:100%;
		width: 100%;
		padding:10px 0 0 0;
		float: none;
		display: flex;
		flex-direction: column;
		.logo_white{
			width: 150px;
			height:auto;
			margin-top:10px;
		}
		.logo_white img{
			width: 100%;
			height:auto;
		}
		#search{
			margin-top:15px;
		}
		.outdustry_social{
			display: flex;
			justify-content: center;
			height:auto;
			.social_item{
				border: 2px solid white;
				opacity: .7;
				background-size: 50%;
			}
			#social_item_insta{
				background-image: url('images/icon_insta.png')!important;
			}
			#social_item_fb{
				background-image: url('images/icon_fb.png')!important;
			}
			#social_item_li{
				background-image: url('images/icon_li.png')!important;
			}
			#social_item_twitter{
				background-image: url('images/icon_twitter.png')!important;
			}
			#social_item_weibo{
				background-image: url('images/icon_weibo.png')!important;
			}
		}
	}
	
	.mailing_form_excerpt{
		width: 100%;
		padding:20px;
	}
	.mailing_form_excerpt{
		margin-top:30px;
	}
	.mailing_list_form_holder{
		margin-top:0;
	}
	.mailing_list_input{
		width: 90%;
		font-size: 30px;
	}
	
	.filter_by{
		margin-top:15px;
	}
	.filter_list{
		position: fixed;
	    bottom: 0;
	    width: 100vw;
	    left: 0;
	    z-index: 11;
	    border-top:2px solid $outBlack;
	    background-color: white;
	    -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -moz-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        -moz-transition: ease 300ms;
        -o-transition: ease 300ms;
        -webkit-transition: ease 300ms;
        transition: ease 300ms;
	}
	.filter_box.active{
		.filter_list{
			-moz-transform: translateY(0%);
	        -ms-transform: translateY(0%);
	        -webkit-transform: translateY(0%);
	        transform: translateY(0%);
	        -moz-transform: translate3d(0, 0%, 0);
	        -webkit-transform: translate3d(0, 0%, 0);
	        transform: translate3d(0, 0%, 0);
        }
        .filter_box_inner{
	        background-color: rgb(200,200,200);
        }
	}
	.filter_arrow{
		display: none;
	}
	.filter_box_content h6{
		margin:0 auto;
	}
	.filter_checkbox{
		width: 15px;
		min-width: 15px;
		height:15px;
	}
	.filter_item_content{
		height: 35px;
	}
	.filter_item_content p{
		font-size: 16px;
	}
	
	/*------------------------------------*\
		HOME < 768px
	\*------------------------------------*/
	
	.home_content{
		width: 100%;
		margin:40px auto;
	}
	.home_text{
		text-align: center;
		margin-bottom:40px;
		line-height: 30px;
		font-size: 24px;
		p{
			font-size: 24px;
			font-family: $geoLight;
		}
	}
	.home .home_content .outdustry_social{
		display: flex;
		justify-content: center;
		.social_item{
			border-width: 2px;
		}
	}
	.home_email{
		text-align: center;
		margin-bottom: 20px;
		a{
			font-family: $geoBold;
		}
	}
	
	
	/*------------------------------------*\
		BLOG < 768px
	\*------------------------------------*/
	
	.blog_header_title{
		display: none;
	}
	.blog #page_sub_header_container #logo_small{
		margin: 0;
	}
	.blog #page_sub_header_container #logo_small a{
		display: none;
	}
	.blog #page_sub_header_container #logo_small span{
		margin-left: 0;
	}
	.all_posts article.type-post:first-of-type .archive_post_content h4.entry-title a{
		font-size: 30px;
	}
	#all_projects.all_posts article.type-post{
		margin-bottom:20px;
	}
	.header_button{
		display: none;
	}
	
	nav#menu{
		width: 100%;
		height:100%;
		margin:0;
		display: flex;
		position: relative;
		>div{
			height:100%;
			width: 100%;
			position: absolute;
		}
		ul{
			height:100%;
			flex-direction: column;
			li{
				flex-grow: 2;
				position: relative;
				border-bottom:1px solid white;
				a{
				    color: white;
				    display: flex;
				    align-items: center;
				    height: 100%;
				    position: absolute;
				    width: 100%;
				    top: 0;
				    left: 0;	
				}
			}
		}
		.mailing_list_link{
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}
			a{
				background-color: transparent;
			}
		}
	}
	
	/*------------------------------------*\
		SERVICES < 768px
	\*------------------------------------*/
	
  	.service_box_holder{
	  	flex-direction: row;
  	}
  	.service_box_image{
	  	height:25vw;
	  	margin-bottom:15px;
  	}
  	.service_box_info{
	  	width: 100%;
	  	min-height: 0;
	  	padding-bottom:10px;
	  	h2{
		  	margin-bottom: 0;
	  	}
  	}
  	.service_post_header{
	  	padding-bottom:10px;
  	}
  	.service_box_posts h6.services_key{
	  	margin:20px 0 15px;
  	}
	  	
	#page_sub_header{
		&:after{
			display: none;
		}
	}
	.page_sub_header_content{
		padding:0;
		&:after{
			background-color: transparent;
		}
	}
	.single-post #container{
	  	width: 100%;
  	}
}

@media only screen and (max-width: 680px) and (min-width:321px){
	
	/*------------------------------------*\
		GLOBAL
	\*------------------------------------*/
	  
		#wrapper{
			padding: 0 20px;
		}
		#container{
			width: 100%;
		}
		section.entry-content{
			padding-bottom: 85px;
		}
		#nav_button{
			right:20px;
		}
		.home .section_header{
			display: none;
		}
		#page_sub_header{
			width: 100%;
			padding:0;
		}
		.page_sub_header_content p{
			font-family: $geoLight;
		}
		.project_container_inner{
			flex-direction: column;
			.project_media{
				width: 100%;
			}
			.post_info_container{
				width: 100%;
				padding:0;
			}
		}
		#all_projects article{
		  	width: 100%;
		  	margin-bottom:25px;
	  	}
	  	
	  	/*------------------------------------*\
			HOME < 768px
		\*------------------------------------*/
		
		.home #all_projects{
			display: none;
		}
		
		/*------------------------------------*\
			SERVICES < 768px
		\*------------------------------------*/
		
		.service_box{
			margin-bottom:75px;
		}
		.service_box_holder{
			flex-direction: column;
		}
		
		/*------------------------------------*\
			SEARCH < 768px
		\*------------------------------------*/
		
		.search #all_projects article .archive_post_container, .error404 #all_projects article .archive_post_container{
			flex-direction: column;
		}
		.search #all_projects article .archive_post_image, .error404 #all_projects article .archive_post_image, #all_projects.all_archive article .archive_post_image{
			width: 100%;
			height:auto;
		}
		.search #all_projects article .archive_post_content_container:after, .error404 #all_projects article .archive_post_content_container:after, #all_projects.all_archive article .archive_post_content_container:after{
			background-color: transparent;
		}
		.search #all_projects article .archive_post_content_container, .error404 #all_projects article .archive_post_content_container, #all_projects.all_archive article .archive_post_content_container{
			padding:0;
			h4.entry-title{
				font-size: 24px;
			}
		}
	  	
		footer#footer{
			display: none;
		}
 }
 @media only screen 
  and (max-width: 480px) and (min-width:320px){
	  
	/*------------------------------------*\
		FILTER
	\*------------------------------------*/
	
	#filter_boxes{
		display: flex;
		padding:0;
	}
	.filter_box{
		width: 100%;
		margin:0;
	}
	.filter_box_content{
		padding: 0 12px;
		height:40px;
	}
	.filter_box_content h6{
		letter-spacing: 0;
		font-size: 10px;
	}
	.filter_box_inner{
		max-height: 40px;
	}
	.arrow_small, .arrow_small img{
		width: 5px;
	}
	  
	/*------------------------------------*\
		HEADER
	\*------------------------------------*/
	
	
	/*------------------------------------*\
		PROJECTS & ROSTER
	\*------------------------------------*/
	  
	#all_projects{
		padding-top:0px;
	}
	#all_projects.all_roster{
		padding-top: 20px;
	}
	#all_projects article{
		width: 100%;
		margin-bottom:35px;
	}
	#all_projects.all_roster article{
		margin-bottom:20px;
	}
	
	/*------------------------------------*\
		SINGLE PROJECTS & ROSTER
	\*------------------------------------*/
	
	.project_container_inner{
		flex-direction: column;
	}
	.project_container .project_media{
		width: 100%;
	}
	.project_container .post_info_container{
		width: 100%;
		padding:0;
	}
	section.entry-content > p:first-of-type{
		font-size: 20px;
	}
	.roster .post_info{
		border:none;
		margin:0;
	}
	.roster .post_info h5{
		margin-bottom:15px;
	}
	#content .roster h1.entry-title{
		margin-bottom: 15px;
	}
	#post_featured_image{
		margin-bottom:24px;
	}
	.project_terms_boxes{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.project_terms_box{
		width: 100%;
		padding-top:17px;
		margin-bottom:24px;
		margin-right:0;
	}
	.nav-previous .brackets{
		display: none;
	}
	
	/*------------------------------------*\
		SERVICES
	\*------------------------------------*/
	
	.service_box{
		flex-direction: column;
	}
	.service_box_info{
		width: 100%;
		min-height: 0;
		padding:0;
	}
	.service_box_posts{
		width: 100%;
	}
	.service_box_image{
		margin-right: 0;
		width: 30%;
		height:20vw;
	}
	.service_excerpt{
		font-size: 18px;
	}
	.service_content p{
		font-size: 16px;
	}
	.service_post_header{
		padding-bottom:13px;
	}
	.service_box_posts h6.services_key{
		margin:17px 0 17px;
	}
	.service_post_box{
		padding: 10px 0;
	}
	
	/*------------------------------------*\
		BLOG
	\*------------------------------------*/
	
	.all_posts .archive_post_container{
		flex-direction: column;
	}
	.all_posts article.type-post .archive_post_content{
		min-height: 0;
		padding:0;
	}
	.all_posts article.type-post:first-of-type .archive_post_content{
		min-height: 0;
	}
	.all_posts .archive_post_content h2.entry-title a{
		font-size: 24px;
		line-height: .8em;
	}
	.all_posts .archive_post_content{
		padding-left: 0;
	}
	.all_posts .archive_post_image{
		width: 100%;
		min-width: 100%;
		height:80vw;
	}
	.all_posts article .archive_post_content_container{
		&:after{
			display: none;
		}
	}
	.all_posts .archive_post_content h2.entry-title{
		margin-bottom: 15px;
	}
	.archive_posts_content_inner{
		padding-top:20px;
	}
	
	/*------------------------------------*\
		SINGLE BLOG
	\*------------------------------------*/
	
	.post_info_container .post_info_share{
		display: none;
	}
	.post_info_title{
		width: 100%;
	}
	#content h1.entry-title{
		margin-bottom: 15px;
	}
	.more_content_container{
		display: none;
	}
	section.entry-content p img{
		max-width: 100%;
		height:auto;
	}
	
	/*------------------------------------*\
		ABOUT
	\*------------------------------------*/
	
	.outdustry_social{
		display: flex;
		justify-content: center;
	}
	.social_item{
		border-width: 2px;
	}
	#social_item_fb{
		background-size: 20%;
	}
	.page_sub_header_content p{
		font-size: 20px;
	}
	.archive_post_container{
		flex-direction: column;
	}
	.author_box .archive_post_image{
		width: 100%;
		min-width: 100%;
		padding-bottom:100%;
	}
	.author_box .archive_post_content_container{
		padding-left: 0;
	}
	.outdustry_title{
		margin-bottom:10px;
	}
	.author_excerpt{
		padding-top: 15px;
		font-size: 18px;
	}
	.author_desc{
		padding-top:15px;
	}
	.author_box .archive_post_image{
		height:75vw;
	}
	
	/*------------------------------------*\
		SEARCH /  ERROR 404
	\*------------------------------------*/
	
	.search #search, .error404 #search{
		margin-top:5px;
		margin-bottom:15px;
	}
	.search #search h5, .error404 #search h5{
		margin-bottom:20px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.search #search input, .error404 #search input{
		width: 100%;
	}
	.search .all_posts .archive_post_container, .error404 .all_posts .archive_post_container{
		flex-direction: row;
		padding-top: 15px;
	}
	.search .archive_post_content_container, .error404 .archive_post_content_container{
		padding-top:15px;
		padding-left:20px;
	}
	.search .all_posts article, .error404 .all_posts article{
		margin-bottom:0;
	}
	.search .all_posts .archive_post_image, .error404 .all_posts .archive_post_image{
		min-width: 30%;
		width:30%;
		height:0;
		padding-bottom:24%;
	}
	.search .all_posts .archive_post_content h3.entry-title, .error404 .all_posts .archive_post_content h3.entry-title{
		margin-bottom:0;
	}
	.search .all_posts .archive_post_content h3.entry-title a, .error404 .all_posts .archive_post_content h3.entry-title a{
		font-size: 18px;
		line-height: .8em;
	}
	.search #content .entry-date, .error404 #content .entry-date{
		margin-bottom:9px;
	}
	.search #all_projects article .archive_post_image, .error404 #all_projects article .archive_post_image, #all_projects.all_archive article .archive_post_image{
		height:75vw;
	}

}